%link{:href => "http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.8/themes/ui-lightness/jquery-ui.css", :rel => "stylesheet", :type => "text/css"}
.container-full
  .row
    .col-lg-12.text-center.v-center
      %h1 User Auth App
      %p.lead
      %br
      %br
      .col-lg-12.center-block
        .form-group{style: "width:600px;text-align:center;margin:0 auto;"}
          = form_tag sessions_path do
            .form-group
              = label_tag :email, nil, class: "control-label"
              = text_field_tag :email, params[:email], :class => "form-control input-lg"
            .form-group
              = label_tag :password, nil, class: "control-label"
              = password_field_tag :password, nil, class: "form-control input-lg"
            / .form-group
            /   .checkbox
            /     = label_tag "Remember this Computer" class: "control-label"
            %br
            %br
            .actions
              .form-group
                = submit_tag "Login", :class => "btn btn-primary btn-lg btn-block"
                %span.pull-left
                  %a= link_to "Back", :root
                %span.pull-right
                  %a= link_to "Register", new_user_path


  / %form#registerHere.form-horizontal{action: "", method: "post"}
  / %fieldset
  /   %legend Registration
  /   .control-group
  /     %label.control-label Email
  /     .controls
  /       %input#user_email.input-xlarge{"data-content" => "What’s your email address?", "data-original-title" => "Email", name: "user_email", rel: "popover", type: "text"}/
  /   \.............
  /   \.............
  /   .control-group
  /     %label.control-label
  /     .controls
  /       %button.btn.btn-success{type: "submit"} Create My Account

:javascript
  $('#registerHere input').hover(function(){
    $(this).popover('show')
  });

  $("#registerHere").validate({
    rules:{
      name:"required",
      email:{required:true,email: true},
      pwd:{required:true,minlength: 6},
      cpwd:{required:true,equalTo: "#pwd"},
    },

    messages:{
      name:"Enter your first and last name",
      email:{
        required:"Enter your email address",
        email:"Enter valid email address"},
      pwd:{
        required:"Enter your password",
        minlength:"Password must be minimum 6 characters"},
      cpwd:{
        required:"Enter confirm password",
        equalTo:"Password and Confirm Password must match"},
    },

    errorClass: "help-inline",
    errorElement: "span",
    highlight:function(element, errorClass, validClass)
    {
      $(element).parents('.control-group').addClass('error');
    },
    unhighlight: function(element, errorClass, validClass)
    {
      $(element).parents('.control-group').removeClass('error');
      $(element).parents('.control-group').addClass('success');
    }
  });