%script{src: "js/jquery.validate.min.js"}
%script{src: "http://code.jquery.com/jquery-1.7.min.js"}

.container-full
  .row
    .col-lg-12.text-center.v-center
      %h1 Create a New Account
      %p.lead
      %br
      %br
      .col-lg-12.center-block
        = form_for @user, url: users_path, method: :post do |f| 
          %form#register-form.form-horizontal 
            .fieldset
              .form-group
                .col-lg-6
                  .form-group{for: "name", style: "width:600px;text-align:center;margin:0 auto;"}
                    = f.label :name, :class => "col-lg-2 control-label"
                    .col-lg-10
                      = f.text_field :name, :class => "form-control"
                      %br
                  .form-group{for: "email", style: "width:600px;text-align:center;margin:0 auto;"}
                    = f.label :email, :class => "col-lg-2 control-label"
                    .col-lg-10
                      = f.email_field :email, :class => "form-control"
                      %br
                  .form-group{for: "password", style: "width:600px;text-align:center;margin:0 auto;"}
                    = f.label :password, :class => "col-lg-2 control-label"
                    .col-lg-10
                      = f.password_field :password, :class => "form-control"
                      %br
                  .form-group{for: "password_confirmation", style: "width:600px;text-align:center;margin:0 auto;"}
                    = f.label :password_confirmation, :class => "col-lg-2 control-label"
                    .col-lg-10
                      = f.password_field :password_confirmation, :class => "form-control"
                      %br
                  .actions
                    .form-group
                      .col-lg-10.col-lg-offset-2
                        = f.submit "Sign Up", :class => "btn btn-success"
                        = link_to "Cancel", new_session_path, :class => "btn btn-primary"
      #pswd_info{style: "text-align:left;"}
        %h4 Password must meet the following requirements:
        %ul
          %li#letter.invalid
            At least
            %strong one letter
          %li#capital.invalid
            At least
            %strong one capital letter
          %li#number.invalid
            At least
            %strong one number
          %li#length.invalid
            Be at least
            %strong 8 characters
      / #pswdconfirmation_info{style: "text-align:left;"}
      /   %h4 Password must meet the following requirements:
      /   %ul
      /     %li#password_confirmation.invalid
      /       Match
      /       %strong password
